footer {
  padding: 20px 0;
  text-align: center;
  background-color: var(--primary-dark)
}

footer p {
  color: var(--text-contrast-dark);
  font-size: small;
  margin-bottom: 16px;
}

.contact-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 24px;
}

.contact-links a {
  margin: 0 10px;
  font-size: 18px;
  color: var(--secondary-main);
}

.contact-links a:hover {
  text-decoration: underline;
}