.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  height: var(--header-height);
  background-color: var(--primary-dark);
}

.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  list-style: none;
}

.menu li {
  display: inline;
}

.menu li a {
  padding: 8px 16px;
  text-transform: uppercase;
  color: var(--text-contrast-dark);
  border-radius: var(--border-radius);
  font-family: 'Mochiy Pop One', 'Roboto', sans-serif;
  transition: background-color 0.3s ease;
}

.menu li a:hover {
  background-color: var(--secondary-dark);
}

.menu-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: end;
    padding-right: 16px;
  }

  .menu {
    display: none;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-dark);
    position: absolute;
    top: var(--header-height);
    left: 0;
    gap: 8px;
    width: 100%;
    padding-bottom: 16px;
  }

  .menu li a:hover {
    padding: none;
    background-color: transparent;
    color: var(--secondary-dark);
  }

  .menu.active {
    display: flex;
  }

  .menu-toggle {
    display: inline-block;
    color: var(--secondary-dark);
    border: none;
    cursor: pointer;
    font-size: 24px;
    background: none;
  }
}